@import "config";
@import "menu";

* {
  box-sizing: border-box;
}

body {
  @include background;
  background: $primary-color;
  color: set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color, 2), 0.5);
  }
}

a {
  color: #fff;
  text-decoration: none;
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: $secondary-color;
}

main {
  padding: 4rem;
  //height: 100%;
  min-height: calc(100vh - 60px);

  .icons {
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover {
        color: $secondary-color;
        @include easeOut();
      }
    }
  }

  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas:
    "bioimage bio bio"
    "job1 job2 job3";
  grid-template-columns: repeat(3, 1fr);

  .bio-image {
    grid-area: bioimage;
    margin: auto;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: $secondary-color 3px solid;

    -webkit-box-shadow: 1px 2px 18px 12px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 1px 2px 18px 12px rgba(0, 0, 0, 0.69);
    box-shadow: 1px 2px 18px 12px rgba(0, 0, 0, 0.69);
  }
  .bio {
    grid-area: bio;
    font-size: 1.5rem;
  }
  .job-1 {
    grid-area: job1;
  }
  .job-2 {
    grid-area: job2;
  }
  .job-3 {
    grid-area: job3;
  }
  .job {
    background: lighten($primary-color, 5);
    padding: 1rem;
    border-bottom: $secondary-color 5px solid;
    transition: all 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, transparent, yellow, transparent);
  border-radius: 50px;
}

// Work / Projects
.projects {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  img {
    width: 100%;
    height: 300px;
    border: 3px #fff solid;

    //margin: 20px;

    &:hover {
      opacity: 0.6;
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

// Contact Page
.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem;

  div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    @include easeOut;

    &:hover {
      padding: 0.5rem 1.5rem;
      background: $secondary-color;
      color: set-text-color($secondary-color);

      span {
        color: set-text-color($secondary-color);
      }
    }
  }
}

// Button Styles
.btn {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
  &:hover {
    background: $secondary-color;
    color: set-text-color($secondary-color);
  }
}

.btn-dark {
  @extend .btn;
  background: darken($primary-color, 50);
  color: #fff;
}
.btn-light {
  @extend .btn;
  background: lighten($primary-color, 50);
  color: #333;
}

#main-footer {
  text-align: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  color: set-text-color($primary-color);
  height: 60px;
}

// Skills
.skills {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(5, 1fr);

  img {
    width: 60%;
    height: 130px;
    border: 3px #fff solid;
    border-radius: 20%;

    //margin: 20px;

    &:hover {
      border-color: $secondary-color;
      @include easeOut;
    }
  }
}

@import "mobile";
